<div class="container">

  <div class="row">
    <div class="col">
      <img _ngcontent-c27="" alt="header-aircraft" class="img-col-7" style="padding-left: 25px" src="../../../assets/img/cabins.png">
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <div _ngcontent-c27="" class="cabin-seats-wall-left" ng-reflect-ng-style="[object Object]" style="width: 43px;height: 500px;"></div>
    </div>
    <div class="col-2">
      <h2>col;m</h2>
    </div>
    <div class="col-auto">
      <div _ngcontent-c27="" class="cabin-seats-wall-right" ng-reflect-ng-style="[object Object]" style="width: 43px;height: 500px;">
        <div _ngcontent-c27="" class="boxes-cabin-title">
          <!--
          <h4 _ngcontent-c27="" ng-reflect-ng-style="[object Object]" class="pull-left text-black-444 cabin-title cabin-title-7" style="width: 836px;">
            <span _ngcontent-c27="" class="carx"> Clase Economica </span>
          </h4>
          -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img _ngcontent-c27="" alt="header-aircraft" class="img-col-7" style="padding-left: 25px" src="../../../assets/img/cabinBack.png">
    </div>
  </div>

</div>


<!--
    <div class="content-cabin-seats">

      sup: right
      <div _ngcontent-c27="" class="cabin-seats-wall-left" ng-reflect-ng-style="[object Object]" style="width: 43px;height: 536px;"></div>
      <div></div>

      inf: left
      <div _ngcontent-c27="" class="cabin-seats-wall-right" ng-reflect-ng-style="[object Object]" style="width: 43px;height: 536px;">
        <div _ngcontent-c27="" class="boxes-cabin-title"><h4 _ngcontent-c27="" ng-reflect-ng-style="[object Object]" class="pull-left text-black-444 cabin-title cabin-title-7" style="width: 836px;">
          <span _ngcontent-c27=""> Clase Economica </span></h4>
        </div>
      </div>

    </div>
    -->
