<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Grid</title>
  <style type="text/css">
    .row > div {
      text-align: center;
      margin: 10px 0; /*10px button and up; left and right 0*/
      background: #f2f2f2;
    }
  </style>
</head>
<body>
  <div class="container">
    <d iv class="row">
      <div class="col">
        <h4>Column #1</h4>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. </p>
      </div>
      <div class="col">
        <h4>Column #2</h4>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. </p>
      </div>
      <div class="w-100"></div><!-- width 100% -->
      <div class="col">
        <h4>Column #3</h4>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. </p>
      </div>
      <div class="col">
        <h4>Column #4</h4>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. </p>
      </div>
    </div>
  </div>
</body>
</html>
