<p>
  mask-demo works!
</p>
<!--
https://www.npmjs.com/package/ngx-mask
-->

<span>{{phone | mask: '(000) 000-0000'}}</span>

<input type='text' [specialCharacters]="[ '[' ,']' , '\\' ]" mask="[00]\[000]" >
<input type='text' [patterns]="customPatterns" mask="(000-000)" >
<input type='text' prefix="+7 " mask="(000) 000 00 00" >

<input type='text' sufix=" $" mask="0000" >

<input type='text' [dropSpecialCharacters]="false" mask="000-000.00" >
<input mask="(000) 000-0000" prefix="+7" [showMaskTyped] = "true">
