<div class="container">

  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label col-form-label-sm">Factura</label>
      <div class="col-sm-10">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Grupal
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Individual
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="client" class="col-sm-2 col-form-label col-form-label-sm">Cliente</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="client" placeholder="Cliente">
      </div>
    </div>

    <div class="form-group row">
      <label for="nit" class="col-sm-2 col-form-label col-form-label-sm">Nit</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="nit" placeholder="Nit">
      </div>
    </div>
    <!-- card-->
    <fieldset class="border p-2">
      <legend  class="w-auto">Asiento Nro. 1</legend>

      <div class="form-group row">
        <label for="amount" class="col-sm-2 col-form-label col-form-label-sm">Tarifa</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control form-control-sm" id="amount" placeholder="Tarifa" value="50">
        </div>
      </div>

      <div class="form-group row">
        <label for="ci" class="col-sm-2 col-form-label col-form-label-sm">CI</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="ci" placeholder="ci">
        </div>
      </div>

      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="name" placeholder="Nombres">
        </div>
      </div>

      <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label col-form-label-sm">Apellidos</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="lastName" placeholder="Apellidos">
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label col-form-label-sm">Telefono</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="phone" placeholder="Telefono">
        </div>
      </div>

      <div class="form-group row">
        <label for="observation" class="col-sm-2 col-form-label col-form-label-sm">Observacion</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="observation" placeholder="Observacion">
        </div>
      </div>
    </fieldset>
  </form>


</div>
