<br/>
<div class="container">

  <div class="row">
    <div class="col">

      <div class="seat" style="left: 47px; top: 0px; width: 43px; height: 47px;"><!--border: 1px solid red-->
        <div class="seat-box-content seat-Y-bg">
          <div class="image" style="width: 43px; height: 47px;"><span class="seat-number">F2</span></div></div>
      </div>

    </div>
  </div>
  <br/><br/><br/><br/>
  <div class="row">
    <div class="col">

      <div class="seat" style="left: 0px; top: 0px; width: 43px; height: 47px; "><!--border: 1px solid blue-->
        <div class="seat-box-content seat-Y-bg">
          <div class="seat-image-assign"></div>
          <div class="image" style="width: 43px; height: 47px;">
            <span class="seat-number">F1</span>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
