<!--

<p class="text-center t50">
  <img src="https://d33wubrfki0l68.cloudfront.net/a3d192d915e7f3b3e4481eb515df5778a7ce219c/0aac2/images/css/box-shadow-examples/alligator-box-shadow2.svg" class="box-shadow10 alli-shadow" alt="Multiple box shadows 3">
</p>


<img src="assets/img/seat-economy-horizontal.png" class="box-shadow10 alli-shadow" alt="Multiple box shadows 3">


<div class="box-shadow11 alli-shadow1">1</div>

<div class="image" style="width: 37px; height: 33px;">
  <span class="seat-number">E1</span>
</div>
-->

<!--other -->
<div class="container">

  <div class="row">
    <div class="col">

      <div class="seat" style="left: 47px; top: 0px; width: 43px; height: 47px;"><!--border: 1px solid red-->
        <div class="seat-box-content seat-Y-bg"><div class="seat-map-img-bg"></div>
          <div class="image" style="width: 43px; height: 47px;"><span class="seat-number">F2</span></div></div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">

      <div class="seat" style="left: 0px; top: 0px; width: 43px; height: 47px;"><!--border: 1px solid blue-->
        <div class="seat-box-content seat-Y-bg"><div class="seat-map-img-bg"></div>
          <div class="seat-image-assign"></div>
          <div class="image" style="width: 43px; height: 47px;">
            <span class="seat-number">F1</span>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
