<div class="container">
  <div class="row justify-content-center"><!--justify-content-center-->
    <div class="col col-sm-4 col-md-5 col-lg-6 col-xl-7">
      <div class="card">
        <div class="card-header">
          <h3>Salidas</h3>
        </div>
        <div class="card-body">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">LPZ</a></li>
              <li class="breadcrumb-item active" aria-current="page">UYUNI</li>
            </ol>
          </nav>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-info btn-lg btn-block">COCHABAMBA</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-info btn-lg btn-block">LA PAZ</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-info btn-lg btn-block">SANTA CRUZ</button>
            </div>
          </div>
          <!--
          <button type="button" class="btn btn-info btn-lg btn-block">COCHABAMBA</button>
          <button type="button" class="btn btn-info btn-lg btn-block">LA PAZ</button>
          <button type="button" class="btn btn-info btn-lg btn-block">SANTA CRUZ</button>
          <button type="button" class="btn btn-info btn-lg btn-block">BENI</button>
          <button type="button" class="btn btn-info btn-lg btn-block">CHUQUISACA</button>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
